$color-blue: #069;
$color-blue-dark: #036;
$color-grey-dark: #999999;
$color-grey-light: #cccccc;
$color-white: #fff;
$color-title: #333;
$color-error: #cc0000;

//$color-grey-hover: #9a9a9a;
$color-blue-light-hover: #00cdff;
$color-blue-dark-hover: #00669c;
$color-blue-light: #7fcdff;
$color-white-hover: #f0fcff;

//$color-info-title: #00669c;
//$color-info-description: #9a9a9a;