@import "fonts";
@import "vars";

.cbalink {
  display: none;
}

/***************************************/
/*             Общие стили             */
/***************************************/

.half-bg-main {
  background: url(../img/blue-bg.png) 100% 0/44% auto repeat-y;
}

.half-bg {
  background: url(../img/blue-bg.png) 100% 0/45% auto repeat-y;
}

a {
  color: $color-grey-dark;
  transition: all 0.5s ease;
  text-decoration: none;
  &:hover {
    color: $color-grey-dark;
    text-decoration: none;
  }
  &.white {
    color: $color-white;
    &:hover {
      color: $color-blue-dark-hover;
    }
    &:active {
      color: $color-white;
    }
  }
  &.underline {
    font-size: 14px;
    font-family: RobotoCondensed-Regular;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
  }
  &.forgot-password {
    color: $color-blue;
    font-size: 14px;
    outline: none;
  }
  &.btn:hover{
    color: $color-white;
  }
}

p {
  margin-bottom: 0.3rem;
}

div {
  color: $color-grey-dark;
}

img {
  object-fit: contain;
}

.text-blue {
  color: $color-blue;
  a {
    color: $color-blue;
  }
}

.material-input {
  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  color: $color-grey-dark;
  padding: 10px 0;
  border: 0;
  font-family: RobotoCondensed-Light;
  border-bottom: 1px solid $color-grey-dark;
  margin-bottom: 10px;
  font-size: 18px;
  display: block;
  width: 100%;
  outline: none;
}

.btn {
  border-radius: 0;
  display: block;
  width: 100%;
  background-color: $color-blue;
  padding: 18px;
  font-size: 18px;
  color: $color-white;
  font-family: RobotoCondensed-Regular;
  border-bottom: 3px solid $color-blue-dark;
  cursor: pointer;
  margin: auto;
  box-shadow: none !important;
  outline: none !important;
  overflow: hidden;
  position: relative;
  &:after {
    content: "";
    left: -100%;
    opacity: 52;
    position: absolute;
    top: 0;
    width: 100%;
    height: 120%;

    background: linear-gradient(
                    138deg,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(255, 255, 255, 0) 25%,
                    rgba(188, 201, 214, 0.5) 50%,
                    rgba(188, 201, 214, 0) 75%,
                    rgba(255, 255, 255, 0) 100%);
  }
  &:hover:after {
    left: 150%;
    opacity: 1;
    transition: all 0.9s ease;
    /*    transition-duration: 0.9s;
        transition-property: all;
        transition-timing-function: ease;*/
  }
  &:active {
    color: $color-blue-light;
  }
}

.btn-border {
  text-decoration: none;
  font-size: 14px;
  font-family: RobotoCondensed-Regular;
  min-height: 31px;
  max-width: 96px;
  border: 1px solid;
  padding: 6px 10px;
  outline: none !important;
  cursor: pointer;
  box-shadow: none !important;
  text-align: center;
  transition: all 0.25s;

  &.white {
    color: $color-white;
    border-color: $color-white;
    background-color: transparent;
    &:hover {
      color: $color-blue-dark-hover;
      background-color: $color-white;
    }
    &:active {
      color: $color-white-hover;
    }

  }
  &.blue {
    color: $color-blue;
    border-color: $color-blue;
    background-color: transparent;
    &:hover {
      color: $color-white;
      border-color: $color-blue-dark-hover;
      background-color: $color-blue-dark-hover;
    }
    &:active {
      color: $color-blue-light;
    }

  }
  &:hover {
    text-decoration: none;
  }
}

.slider {
  &.ui-widget-content {
    height: 10px;
    border-radius: 4px;
    background: $color-grey-light;
    border: 0;
    margin-bottom: 25px;
  }
  .ui-slider-range {
    border-radius: 4px;
    background: linear-gradient(to right, #336699, #33c0f3);
  }
  .ui-slider-handle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $color-grey-light;
    border: 5px solid $color-white;
    outline: none;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: -10px;
    cursor: pointer;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

//checkbox start
.checkbox-styled {
  display: block;
  position: relative;
  padding-left: 45px;
  cursor: pointer;
}

.checkbox-styled input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-styled__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 15px;
  width: 15px;
  background: $color-white;
  border: 1px solid $color-grey-dark;
}

.checkbox-styled:hover input ~ .checkbox-styled__indicator,
.checkbox-styled input:focus ~ .checkbox-styled__indicator {
  background: $color-grey-light;
}

.checkbox-styled input:checked ~ .checkbox-styled__indicator {
  border-color: $color-blue-dark-hover;
  background-color: $color-white;
}

.checkbox-styled__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-styled input:checked ~ .checkbox-styled__indicator:after {
  display: block;
}

.checkbox-styled .checkbox-styled__indicator:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 9px;
  border: solid $color-blue-dark-hover;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

//checkbox end

/***************************************/
/*                Формы                */
/***************************************/

.form__label {
  font-size: 18px;
  font-family: RobotoCondensed-Regular;
  color: $color-title;
}

.form__input {
  border: 1px solid $color-grey-dark;
  border-radius: 4px;
  width: 100%;
  outline: none;
  font-size: 22px;
  color: $color-title;
  padding: 0 12px;
}

.switch {
  width: 51px;
  height: 30px;
  position: absolute;
  top: 13px;
  left: 0;
  display: block;
  background: $color-grey-dark;
  margin-right: 20px;
  border-radius: 81px 58px 81px 58px;
  span {
    display: block;
    width: 24px;
    height: 24px;
    background: $color-white;
    border-radius: 24px 15px;
    margin-top: 3px;
    margin-left: 3px;
    transition: all 0.2s ease;
    transform: translate(1px, 0px);
  }
  &--active {
    background: $color-blue;
    span {
      transform: translate(20px, 0px);
    }
  }
}

/***************************************/
/*                Шапка                */
/***************************************/

.header {
  //height: 95px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .navbar-brand img {
    width: 164px;
    height: 27px;
  }
  .container {
    flex-wrap: wrap;
  }
  .navbar {
    flex-grow: 1;
    padding-top: 18px;
    padding-bottom: 0;
  }
  .nav-link {
    font-family: RobotoCondensed-Italic;
    font-size: 18px;
    padding: 0;
    transition: all 0.25s;
    &:hover {
      background-color: $color-white;
      color: $color-blue-dark-hover;
    }
    &:active {
      color: $color-white-hover;
    }
  }
  a.underline {
    margin-right: 25px;
  }
  .navbar-lang {
    color: $color-white;
    font-family: RobotoCondensed-Italic;
    font-size: 14px;
    text-align: right;
    margin-right: 26px;
    flex-direction: row;
    justify-content: flex-end;
    //width: 100%;
    a {
      color: $color-white;
      &.active {
        text-decoration: underline;
      }
    }
  }
}

/***************************************/
/*           Баннер страницы           */
/***************************************/

.banner {
  height: 494px;
  width: 100%;
  background: url(../img/banner.png);
  background-size: cover;
  /*  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;*/
  padding-top: 186px;
}

.banner__breadcrumbs {
  font-size: 12px;
  margin-bottom: 20px;
  display: block;
  font-family: RobotoCondensed-Regular;
}

.banner__breadcrumbs-first {
  color: $color-grey-dark;
  &:after {
    content: ' - ';
    display: inherit;
    position: static;
  }
}

.banner__breadcrumbs-second {
  color: $color-white;
}

.banner__title {
  font-size: 90px;
  text-transform: uppercase;
  color: $color-white;
  font-family: RobotoCondensed-Bold;
  line-height: 1.1;
  max-width: 666px;
}

/***************************************/
/*             Калькулятор             */
/***************************************/

.calculator-block {
  height: 1080px;
  background: url(../img/bg-main.png) center;
  background-size: cover;
  padding-top: 100px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 100px;
  }
}

.calculator-block__title {
  font-size: 44px;
  font-family: RobotoCondensed-Bold;
  color: $color-white;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 1.1;
  &:after {
    content: '';
    width: 69px;
    height: 107px;
    display: block;
    position: absolute;
    background: url(../img/arrow.png);
    right: 18px;
    top: 75px;
  }
}

.slider__labels {
  font-size: 24px;
  font-family: RobotoCondensed-Regular;
  margin-bottom: 7px;
  .side-slider & {

  }
}

.slider__value {
  display: inline-block;
}

.slider__currency {
  float: right;
}

.calculator {
  display: block;
  border-radius: 9px;
  padding: 48px 46px 68px;
  background-color: $color-white;
  .material-input {
    font-size: 24px;
  }
  .btn {
    font-size: 24px;
  }
}

.calculator__title {
  font-size: 36px;
  color: $color-blue;
  font-family: RobotoCondensed-Regular;
  margin-bottom: 20px;
}

.terms {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin: 20px 0;
  color: $color-grey-dark;
  font-family: RobotoCondensed-Light;
  input[type="checkbox"] {
    margin-right: 24px;
  }
  a {
    color: $color-blue;
    &:hover {
      color: $color-blue-light;
    }
  }
}

/***************************************/
/*            Блок с текстом           */
/***************************************/

.text-section {
  padding: 60px 0 70px;
  &.half-bg-main {
    padding: 72px 0 100px;
  }

  &.half-bg {
    padding: 35px 0 65px;
  }
}

.text-section_title {
  font-size: 36px;
  color: $color-title;
  font-family: RobotoCondensed-Italic;
  margin-bottom: 24px;
  line-height: 1;
}

.text-section_subtitle {
  font-size: 18px;
  font-family: RobotoCondensed-Light;
  color: $color-title;
}

.text-section_text {
  font-size: 18px;
  font-family: RobotoCondensed-Light;
  color: $color-grey-dark;
  margin-bottom: 15px;
}

/***************************************/
/*         Контактная информация       */
/***************************************/

.requisites-block {
  font-family: RobotoCondensed-Regular;
  font-size: 18px;
  margin-bottom: 60px;
}

.requisites-block__data {
}

.requisites-block_additional-data {
  text-decoration: underline;
  &:hover,
  &:active {
    color: $color-blue-dark-hover;
    text-decoration: underline;
  }
}

/***************************************/
/*           Боковой слайдер           */
/***************************************/

.side-slider {
  margin-bottom: 166px;
}

.side-slider__title {
  color: $color-grey-dark;
  font-family: RobotoCondensed-Light;
  font-size: 36px;
  margin-bottom: 28px;
  line-height: 1;
}

.side-slider__btn {
  margin-top: 52px;
}

/***************************************/
/*                Футер                */
/***************************************/

.footer {
  font-size: 18px;
  font-family: RobotoCondensed-Regular;
}

.footer__data {
  font-size: 18px;
}

/***************************************/
/*               Партнеры              */
/***************************************/

.partners {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.partners__comodo {
  max-width: 122px;
}

.partners__dss {
  max-width: 97px;
}

.partners__visa {
  max-width: 86px;
}

.partners__master-card {
  max-width: 100px;
}

.partners__platon {
  max-width: 113px;
}

/***************************************/
/*               Новости               */
/***************************************/
.article {
  padding-bottom: 20px;
}

.article_new-line {
  padding-top: 78px;
  @media (max-width: 576px) {
    padding-top: 0;
  }
}

.article__miniature {
  position: relative;
  padding-left: 10px;
  z-index: 1;
  img {
    width: 100%;
  }

  &:after {
    content: "";
    width: 94%;
    height: 70%;
    background: $color-blue;
    z-index: -1;
    position: absolute;
    top: -10px;
    left: 0;
  }
}

.article__title {
  min-height: 84px;
  font-size: 18px;
  color: $color-blue;
  font-family: RobotoCondensed-Regular;
  line-height: 1;
  padding-top: 20px;
  padding-bottom: 10px;
  @media (max-width: 576px) {
    min-height: auto;
  }
}

.article__annotation {
  font-size: 14px;
  line-height: 1;
  font-family: RobotoCondensed-Light;
  color: $color-grey-dark;
  @media (max-width: 768px) {
    min-height: 56px;
  }
  @media (max-width: 576px) {
    min-height: auto;
  }
}

.article__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 14px;
}

.article__date {
  font-size: 14px;
  color: #9cf;
}

/***************************************/
/*               Вопросы               */
/***************************************/
.question {
  padding-bottom: 20px;
  font-family: RobotoCondensed-Regular;
}

.question__title {
  padding: 15px 0 15px 60px;
  position: relative;
  cursor: pointer;
  font-size: 24px;
  line-height: 24px;
  color: $color-grey-dark;
  transition: all 0.2s ease;

  &--active {
    color: $color-blue;
  }
}

.question__answer {
  padding: 15px 0 15px 60px;
  font-size: 18px;
  line-height: 1.25;
  color: $color-grey-dark;
}

.answer-list {
  margin: 0;
  padding: 0;
}

.answer-list__item {
  list-style-type: none;
  &:before {
    content: "-";
    padding-right: 5px;
  }
}

/***************************************/
/*             Форма логина            */
/***************************************/

.login-form {
  .forgot-password {
    float: right;
  }
  .btn {
    margin-top: 50px;
  }
}

/***************************************/
/*             Регистрация             */
/***************************************/

.registration-steps {
  color: $color-white;
  font-size: 18px;
  font-family: RobotoCondensed-Bold;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: -138px;
  .registration-step {
    margin-right: 58px;
    color: $color-white;
    padding-left: 50px;
    padding-top: 6px;
    height: 40px;
  }
  .registration-step:nth-of-type(1) {
    background: url(../img/info.png) no-repeat;
  }
  .registration-step:nth-of-type(2) {
    background: url(../img/approve.png) no-repeat;
  }
  .registration-step:nth-of-type(3) {
    background: url(../img/card.png) no-repeat;
  }
}

.tabs {
  font-size: 14px;
  font-family: RobotoCondensed-Light;
  list-style-type: none;
  color: $color-grey-dark;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tab {
  padding: 0;
  display: inline-block;
  position: relative;
  &:after {
    content: '';
    width: 50px;
    height: 1px;
    display: block;
    position: absolute;
    background-color: $color-grey-dark;
    top: 25px;
    left: calc(50% - 50px / 2);
  }
  &.active {
    color: $color-blue;
    &:after {
      background-color: $color-blue;
    }
  }
}

.registration__temrs {

}








